.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #f1f1f1;
}

.text{
    font-size: 20px;
    color: red;
}

.input{
    padding: "10px";
    width: 200px;
    margin: "10px";
    border: "1px solid black";
    border-radius: 5px;
}